<a href="https://colab.research.google.com/github/TusarAbdullah/Machine-Learning/blob/main/Class%201/Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
df = pd.read_excel("Rent.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'Rent.xlsx'

# Data Analysis

In [ ]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [ ]:
df.tail()

    area   rent
55  3100  54000
56  2750  48500
57  1800  25100
58  2200  31560
59  3100  51600

In [ ]:
df.head(15)

    area   rent
0   2000  31500
1   2100  35000
2   2500  41050
3   2250  36100
4   3000  52100
5   1900  32500
6   1500  20000
7   1850  24500
8   2700  48000
9   2100  31000
10  2150  34500
11  2100  32000
12  2100  34500
13  2510  40050
14  2250  34100

In [ ]:
df[5:11]

    area   rent
5   1900  32500
6   1500  20000
7   1850  24500
8   2700  48000
9   2100  31000
10  2150  34500

In [ ]:
df['rent'].head(8)

0    31500
1    35000
2    41050
3    36100
4    52100
5    32500
6    20000
7    24500
Name: rent, dtype: int64

In [ ]:
df.mean()

area     2289.000000
rent    37269.166667
dtype: float64

In [ ]:
df.area.mean()