In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Rent.xlsx")

In [3]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [4]:
#col axis = 1.row axis = 0 ... col mane area drop kora = df.drop("area",axis = 1)..inplace mane data frame ao sate sate update kore fela...
df.drop("area",axis=1)

     rent
0   31500
1   35000
2   41050
3   36100
4   52100
5   32500
6   20000
7   24500
8   48000
9   31000
10  34500
11  32000
12  34500
13  40050
14  34100
15  51500
16  30500
17  21000
18  25000
19  47000
20  31500
21  33500
22  70000
23  20000
24  50000
25  53000
26  48000
27  25000
28  31460
29  51400
30  33500
31  35010
32  41100
33  35100
34  52200
35  32300
36  20200
37  24000
38  47500
39  31500
40  34400
41  32020
42  34700
43  40000
44  35000
45  51000
46  30000
47  21500
48  25500
49  47500
50  31000
51  33000
52  70500
53  20100
54  51000
55  54000
56  48500
57  25100
58  31560
59  51600

In [5]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [6]:
#col axis = 1.row axis = 0 ... col mane area drop kora = df.drop("area",axis = 1)..inplace mane data frame ao sate sate update kore fela...
df.drop("area",axis=1,inplace=True)

In [7]:
df.head()

    rent
0  31500
1  35000
2  41050
3  36100
4  52100

In [8]:
df.drop("rent",axis=1, inplace=True)

In [9]:
df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [10]:
dff = pd.read_excel("Rent.xlsx")

In [11]:
dff.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [12]:
dff.drop([2],axis=0, inplace=True )  #row drop

In [13]:
dff.head()

   area   rent
0  2000  31500
1  2100  35000
3  2250  36100
4  3000  52100
5  1900  32500

In [14]:
dff.drop(dff.index[5:13],inplace=True)   # row kora....

In [15]:
dff.head(10)

    area   rent
0   2000  31500
1   2100  35000
3   2250  36100
4   3000  52100
5   1900  32500
14  2250  34100
15  3100  51500
16  1800  30500
17  1550  21000
18  1800  25000

In [16]:
dff.drop([1:4],axis=0, inplace=True )  #row drop

SyntaxError: invalid syntax (2713326954.py, line 1)

In [17]:
dff.head()

   area   rent
0  2000  31500
1  2100  35000
3  2250  36100
4  3000  52100
5  1900  32500

# Load the save model

In [18]:
import joblib as jb
reg3 = jb.load("second")

In [19]:
import warnings
warnings.filterwarnings("ignore")  # This code disables all warning messages in Python, often used in ML to keep output clean.

In [20]:
reg3.predict([[2800]])

array([47901.6481129])

# Gradio Deployment

In [21]:
!pip install gradio

Requirement already satisfied: gradio in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (5.34.2)
Requirement already satisfied: aiofiles<25.0,>=22.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (24.1.0)
Requirement already satisfied: anyio<5.0,>=3.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (3.7.0)
Requirement already satisfied: fastapi<1.0,>=0.115.2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.115.13)
Requirement already satisfied: ffmpy in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.6.0)
Requirement already satisfied: gradio-client==1.10.3 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (1.10.3)
Requirement already satisfied: groovy~=0.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.1.2)
Requirement already satisfied: httpx>=0.24.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.28.1)
Requirement already satisfied: huggingface-hub>=0.28.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.34.4)
Requirement already satisfied: jinja2<4.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (3.1.2)
Requirement already satisfied: markupsafe<4.0,>=2.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (2.1.3)
Requirement already satisfied: numpy<3.0,>=1.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (1.26.4)
Requirement already satisfied: orjson~=3.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (3.10.18)
Requirement already satisfied: packaging in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (23.1)
Requirement already satisfied: pandas<3.0,>=1.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (2.0.2)
Requirement already satisfied: pillow<12.0,>=8.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (9.5.0)
Requirement already satisfied: pydantic<2.12,>=2.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (2.11.7)
Requirement already satisfied: pydub in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.25.1)
Requirement already satisfied: python-multipart>=0.0.18 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.0.20)
Requirement already satisfied: pyyaml<7.0,>=5.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (6.0)
Requirement already satisfied: ruff>=0.9.3 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.12.0)
Requirement already satisfied: safehttpx<0.2.0,>=0.1.6 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.1.6)
Requirement already satisfied: semantic-version~=2.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (2.10.0)
Requirement already satisfied: starlette<1.0,>=0.40.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.46.2)
Requirement already satisfied: tomlkit<0.14.0,>=0.12.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.13.3)
Requirement already satisfied: typer<1.0,>=0.12 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.16.0)
Requirement already satisfied: typing-extensions~=4.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (4.14.0)
Requirement already satisfied: uvicorn>=0.14.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio) (0.34.3)
Requirement already satisfied: fsspec in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio-client==1.10.3->gradio) (2025.5.1)
Requirement already satisfied: websockets<16.0,>=10.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from gradio-client==1.10.3->gradio) (15.0.1)
Requirement already satisfied: idna>=2.8 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from anyio<5.0,>=3.0->gradio) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from anyio<5.0,>=3.0->gradio) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2023.3)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pydantic<2.12,>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pydantic<2.12,>=2.0->gradio) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pydantic<2.12,>=2.0->gradio) (0.4.1)
Requirement already satisfied: click>=8.0.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from typer<1.0,>=0.12->gradio) (8.1.3)
Requirement already satisfied: shellingham>=1.3.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from typer<1.0,>=0.12->gradio) (14.0.0)
Requirement already satisfied: colorama in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from click>=8.0.0->typer<1.0,>=0.12->gradio) (0.4.6)
Requirement already satisfied: certifi in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from httpx>=0.24.1->gradio) (2025.6.15)
Requirement already satisfied: httpcore==1.* in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from httpx>=0.24.1->gradio) (1.0.9)
Requirement already satisfied: h11>=0.16 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from httpcore==1.*->httpx>=0.24.1->gradio) (0.16.0)
Requirement already satisfied: filelock in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (3.18.0)
Requirement already satisfied: requests in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (2.32.4)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (4.64.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (2.5.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import gradio as gr

In [23]:
def rent_recom(x):
    rent = reg3.predict([[x]])
    return rent

In [24]:
rent_recom(3000)

array([52134.30695351])

In [25]:
interface = gr.Interface(
    fn = rent_recom,
    inputs = ['number'],
    outputs = ['number']
).launch(share=False)     #False dity hoi nije korar jonno... true public er jonno

* Running on local URL:  http://127.0.0.1:7860
* To create a public link, set `share=True` in `launch()`.

Using existing dataset file at: .gradio\flagged\dataset1.csv

In [26]:
interface = gr.Interface(
    fn = rent_recom,
    inputs = ['number'],
    outputs = ['number']
).launch(share=True)     #False dity hoi nije korar jonno... true public er jonno

* Running on local URL:  http://127.0.0.1:7861

Could not create share link. Please check your internet connection or our status page: https://status.gradio.app.